<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Calculator</title>
	<script src="angular.js"></script>
	<script>
		function Calculator(){
			this.n1 = 0;
			this.n2 = 0;
			this.result = 0;
		}
		Calculator.prototype.add = function() {
			this.result = this.n1 + this.n2;
		};
		Calculator.prototype.subtract = function() {
			this.result = this.n1 - this.n2;
		};
		Calculator.prototype.multiply = function() {
			this.result = this.n1 * this.n2;
		};
		Calculator.prototype.divide = function() {
			this.result = this.n1 / this.n2;
		};


		var calculatorApp = angular.module('calculatorApp', []);
		
		calculatorApp.controller('calculatorController', function($scope){
			$scope.calculator = new Calculator();
		});
	
	</script>
</head>
<body ng-app="calculatorApp">
	<div ng-controller="calculatorController">
		<h1>Calculator - 1</h1>
		<hr>
		<input type="number" ng-model="calculator.n1">
		<input type="number" ng-model="calculator.n2">
		<br>
		<input type="button" value="Add" ng-click="calculator.add()">
		<input type="button" value="Subtract" ng-click="calculator.subtract()">
		<input type="button" value="Multiply" ng-click="calculator.multiply()">
		<input type="button" value="Divide" ng-click="calculator.divide()">
		<div>{{calculator.result}}</div>
	</div>
	<div ng-controller="calculatorController" ng-init="operation='add'">
		<h2>Calculator-2</h2>
		<hr>
		<input type="number" ng-model="calculator.n1">
		<select ng-model="operation">
			<option value="add">Add</option>
			<option value="subtract">Subtract</option>
			<option value="multiply">Multiply</option>
			<option value="divide">Divide</option>
		</select>
		<span>{{operation}}</span>
		<input type="number" ng-model="calculator.n2">
		<input type="button" value="Calculate" ng-click="calculator[operation]()">
		<div>{{calculator.result}}</div>
	</div>
</body>
</html>