<a ng-href="#!/new">Create New</a>
<section class="stats">
	<!-- <span class="closed">{{(bugs | filter:{isClosed : true}).length}}</span> -->
	<span class="closed">{{bugs | closedCount}}</span>
	<span> / </span>
	<span>{{bugs.length}}</span>
</section>
<section class="search">
	<label for="">Search :</label>
	<input type="text" ng-model="searchBug.name">
	<label for="">Closed ? :</label>
	<input type="checkbox" ng-model="searchBug.isClosed">
	<input type="button" value="Show All" ng-click="searchBug.isClosed=undefined" ng-show="searchBug.isClosed !== undefined">
</section>
<section class="sort">
	<label for="">Order By:</label>
	<select ng-model="sortBugBy">
		<option value="name">Name</option>
		<option value="isClosed">Status</option>
	</select>
	<label for="">Descending ? :</label>
	<input type="checkbox" ng-model="sortBugDescending">
</section>
<section class="list">
	<ol>
		<li ng-repeat="bug in bugs | filter:searchBug | orderBy:sortBugBy:sortBugDescending">
			<span 
				class="bugname" 
				ng-click="onBugClick(bug)"
				ng-class="{closed : bug.isClosed}"
			>{{bug.name | trimText:40}}</span>
			<div class="datetime">{{bug.createdAt | elapsed}}</div>
			<a ng-href="#!/details/{{bug.id}}">More...</a>
		</li>
	</ol>
	<input type="button" value="Remove Closed" ng-click="onRemoveClosedClick()">
</section>